@model SpellsViewModel

<body class="fg-body-main">
    <h1 class="fg-header-light">Spells</h1>
    <div class="container fg-text-light fg-list">
        @foreach (SpellSchool spellSchool in Model.SpellSchools)
        {
            <div class="p-3">
                <partial name="_SpellSchool" model="spellSchool" />
            </div>
        }
    </div>
</body>