@{
    ViewData["Title"] = "Home Page";
}


<div class="container text-center">
    <div class="row ">
        <div class="col g-4">
            <div>
                <img src="~/Images/skeleKingThrone.png" class="card-img-top front-image row" alt="Skeleton King" />
                <h2 class="row text-center p-3">
                    <a asp-area="Frostgrave" asp-controller="FGHome" asp-action="Index">Frostgrave</a>
                </h2>
            </div>
        </div>
        <div class="col g-4">
            <div>
                <img src="~/Images/space.png" class="card-img-top front-image" alt="Thrawn" />
                <h2 class="text-center p-3 text-light">
                    @*<a asp-area="Frostgrave" asp-controller="Home" asp-action="Index">Stargrave</a>*@
                    Stargrave
                </h2>
            </div>
        </div>
    </div>
</div>
