:root {
    --grave-deep-purple: 24, 0, 72;
    --fg-light-colour: 120, 240, 255;
    --fg-dark-colour: 255, 98, 142;
    --sg-light-colour: 255, 255, 255;
    --sg-dark-colour: 84, 61, 124;
}

@font-face{
    font-family: Folkard;
    src: url('folkard_.ttf');
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Folkard;
}

.front-image {
    min-height:500px;
}

.grave-nav-font {
    font-family: Folkard;
}

.grave-nav-bgc {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--grave-deep-purple), var(--bs-bg-opacity));
}

.fg-body-main {
    color: rgb(var(--fg-light-colour));
}

.fg-text-light {
    color: rgb(var(--fg-light-colour));
}

.fg-header-light {
    font-weight: bold;
    color: rgb(var(--fg-light-colour)) !important;
}

.fg-spell-box{
    border-style: ridge;
    border-block-color: antiquewhite;
}

.fg-spellschool-container {
    padding-top: 20px;
    border-style: ridge;
    border-block-color: antiquewhite;
}

.fg-list {
    border-spacing: 5px;
}

.fg-input-txt-box {
    max-width: 60px;
}
.fg-input-small-txt-box {
    max-width: 50px;
}

.fg-stat-block {
    max-width: 600px;
    border: solid thin;
    border-block-color: rgb(var(--fg-light-colour));
    padding: 5px;
    text-align: center;
}