@{
    ViewData["Title"] = "Frostgrave Home";
}


<div class="container text-center">
    <div class="row ">
        <div class="col g-4">
            <div>
                <img src="~/Images/Frostgrave/warbandImage.png" class="card-img-top front-image row" alt="Warband" />
                <h2 class="row text-center p-3 text-light">
                    <a asp-area="Frostgrave" asp-controller="Warband" asp-action="Index">Warbands</a>
                </h2>
            </div>
        </div>
        <div class="col g-4">
            <div>
                <img src="~/Images/Frostgrave/Wizard.png" class="card-img-top front-image row" alt="Wizard" />
                <h2 class="row text-center p-3 text-light">
                    <a asp-area="Frostgrave" asp-controller="Wizard" asp-action="List">Wizards</a>
                </h2>
            </div>
        </div>
        <div class="col g-4">
            <div>
                <img src="~/Images/Frostgrave/spellcasting.png" class="card-img-top front-image" alt="Spellcasting" />
                <h2 class="row text-center p-3 text-light">
                    <a asp-area="Frostgrave" asp-controller="Spells" asp-action="List">Spells</a>
                </h2>
            </div>
        </div>
    </div>
</div>
